<% layout("/layouts/boilerplate.ejs")%>
<video autoplay loop muted src="https://cdn.pixabay.com/video/2021/10/05/90877-629483574_tiny.mp4"></video>
    <h3 style="color:#2aeb10e8 !important;">Blogs</h3>
    <!-- <form method="GET" action="/blogs/new">
        <button>Create New Blog</button>
    </form> -->
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <%for(let blog of allBlogs){%>
        <a class="listing-link" href="/blogs/<%=blog._id%>">
    <div class="card col" style="width: 18rem;">
        <img src="<%=blog.image%>" class="card-img-top" alt="blog_image" style="height:20rem;">
        <div class="card-body">
          <p class="card-sub-title">Please Read our complete blog!</p>
            <h1 class="card-title"><%=blog.title%></h1>
            <br>
            <p class="card-info"><%=blog.author%></p>
            <br>
            <button class="card-btn">Read Blog</button>
      </div>
      </div>
    </a>
      <%}%>
      </div>
